/*constants */
:root {
    --clr-primary-orange: hsl(25, 97%, 53%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-lightgrey: hsl(217, 12%, 63%);
    --clr-neutral-mediumgrey: hsl(216, 12%, 54%);
    --clr-neutral-darkblue: hsl(213, 19%, 18%);
    --clr-neutral-verydarkblue: hsl(216, 12%, 8%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* My styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* globals */

body {
    font-family: 'Overpass', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(20, 30, 39);
}

h1 {
    color: var(--clr-neutral-white);
    font-weight: 700;
    margin: 1.5rem auto 1.5rem auto;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: var(--clr-neutral-mediumgrey);
}


/* Active state */
.info {
    margin: 0 auto 1.5rem 0;
}

.card-main1 {
    margin: 10rem auto 10rem;
    height: 400px;
    width: 400px;
    background-image: linear-gradient(var(--clr-neutral-darkblue), var(--clr-neutral-verydarkblue));
    border-radius: 5%;
    padding: 1.5rem;
}

.button-box {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.btns {
    border-radius: 50%;
    color: var(--clr-neutral-mediumgrey);
    background-color: var(--clr-neutral-darkblue);
    padding: 1rem;
    border: 0px;
    height: 3.2rem;
    width: 3.2rem;
    cursor: pointer;
}

.btns:hover {
    background-color: var(--clr-neutral-lightgrey);
    color: var(--clr-neutral-white);
}

.btns:focus {
    background-color: var(--clr-primary-orange);
    color: var(--clr-neutral-white);
}

.star-icon {
    border-radius: 50%;
    padding: 0.7rem;
    background-color: var(--clr-neutral-darkblue);
}

.submission {
    margin: 1.5rem 0 1.5rem 0;
    border: 0px;
    background-color: var(--clr-primary-orange);
    color: var(--clr-neutral-white);
    border-radius: 2rem;
    height: 3.2rem;
    cursor: pointer;
    width: 100%;
}

/* thank you state */

.card-main2 {
    display: none;
    margin: 10rem auto 10rem;
    text-align: center;
    height: 400px;
    width: 400px;
    background-image: linear-gradient(var(--clr-neutral-darkblue), var(--clr-neutral-verydarkblue));
    border-radius: 5%;
    padding: 2rem;
}

.rating-choice {
    font-size: 15px;
    color: var(--clr-primary-orange);
    background-color: var(--clr-neutral-darkblue);
    padding: 0.3rem;
    border-radius: 2rem;
    margin: 2rem 4rem 0 4rem;
}

.thanks-img {
    display: flex;
    justify-content: center;
}